
<ion-header translucent>
  <ion-toolbar>
    <ion-title>Create item</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select formControlName="type" interface="action-sheet">
          <ion-select-option value="INCOME">Income</ion-select-option>
          <ion-select-option value="EXPENSE">Expense</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Amount</ion-label>
        <ion-input type="number" formControlName="amount"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Datetime</ion-label>
        <ion-datetime formControlName="date" displayFormat="MMM DD, YYYY HH:mm" display-timezone="utc"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Location</ion-label>
        <ion-input type="text" formControlName="location"></ion-input>
      </ion-item>

    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="saveData()">
        Save data
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
