<ion-header>
  <app-transaction-header [title]="title" [amountSum]="amountSum"></app-transaction-header>
</ion-header>

<ion-content>

  <ion-list *ngIf="monthTransactions?.length; else nodata">
    <app-transaction-group
      *ngFor="let monthTransaction of monthTransactions"
      [monthTransaction]="monthTransaction">
    </app-transaction-group>
  </ion-list>

  <ng-template #nodata>
    <div class="transaction__no-data">
      No data
    </div>
  </ng-template>

  <app-create-button (saved)="onSave($event)"></app-create-button>
</ion-content>
