.transaction-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0;

  &__main-label {
    font-size: 1rem;
    opacity: 0.8;
  }

  &__main-data {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
  }

  &__label {
    font-size: 0.75rem;
    opacity: 0.8;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
  }

  &__icon {
    width: 2rem;
    height: 2rem;

    &--income {
      color: #008000FF;
    }

    &--expense {
      color: #FF0000FF;
    }
  }
}
